<!DOCTYPE html> 
 <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visual Novel</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
       
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>

       <progress class="progress is-medium" value="60" max="100">
      60%
    </progress>
    </header>
    <main>
      {{{ body }}} <!--rendering from story.handlebars -->
    </main>
    <footer>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js">

 
        // Function to hide part of the URL
        function hidePartialURL() {
            const newURL = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.replaceState({}, document.title, newURL);
        }

        // Call the function when the page loads
        window.addEventListener('load', hidePartialURL);

  </script>
  {{/if}}
</body>

</html>
