
<body>
<div class="story-container">
<div>
  <h1>{{story.story}}</h1>
  <div class="fade-in-title ">
  <h1 class="creepster" style="color:darkred">YOU ARE DEAD</h1>
  </div>
  </div>
  </div>
</body>
