
<body>
<div class="story-container">
<div>
  <h1>{{story.story}}</h1>
  <div class="fade-in-title ">
  <h1 class="creepster" style="color:darkred">YOU ARE DEAD</h1>
        </div>
      <button id="return-home-button" class="fade-in-title">Restart?</button>
    </div>
  </div>
  </div>
  </div>
    <script>
    document.getElementById('return-home-button').addEventListener('click', () => {
      window.location.href = '/';
    });
  </script>
</body>
