<div class="row mb-4 ">
   <div class="col-md-10"> 
    <div class="fade-in-title ">
        <h1 class="creepster">Dead End 💀</h1>
    </div>
    <div align="center">
    <a href="/" id="start-link" class="play-button">
  <img src="/images/start button.jpeg" alt="Start">

</a>

    </div>
  </div> 
  
    {{!-- <div>
    <p>
      {{stories.0.story}}
    </p>
    <p class="one-word-by-one">NOW YOU ARE DEAD...</p>
  </div> --}}
</div>

    <script>
        document.getElementById('start-link').addEventListener('click', (e) => {
          e.preventDefault();
          window.location.href = '/';
        });
        
    </script>

