<div class="row mb-4 ">
  <div class="col-md-10">
    <div class="title-container"></div>
    <div class="fade-in-title ">
      <h1 class="creepster">Dead End </h1>
    </div>
    <div align="center">
      <a href="/" id="start-link" class="play-button">
        Start
      </a>
    </div>
  </div>
</div>
</div>

<script>
  document.getElementById('start-link').addEventListener('click', (e) => {
    e.preventDefault();
    window.location.href = '/story';
  });
</script>

