<div class="row mb-4 ">
   <div class="col-md-10"> 
    <div class="fade-in-title ">
        <h1 class="creepster">Dead End 💀</h1>
    </div>
  </div> 
    {{!-- <div>
    <p>
      {{stories.0.story}}
    </p>
    <p class="one-word-by-one">NOW YOU ARE DEAD...</p>
  </div> --}}
</div>

