
<body>
<div class="story-container">
  <div class="story-section">
    <h1 id="current-story" dead="{{#if story.is_dead}}{{story.is_dead}}{{else}}false{{/if}}">{{story.story}}</h1> 
  </div> 
    {{#unless story.is_dead}}
      <div class="button-container">   
        <button id="back-button">Back</button>
        <button id="next-button">Next</button>
      </div>
    {{/unless}}
  {{!-- <script src="/js/game.js"></script>   --}}
  {{!-- <script src="/js/storyHandler.js"></script> --}}
  <script src="/js/next.js"></script>
  </div>
</body>
