
<body>



  <p>Story now begins.... </p>
  <div >
    {{#each stories as |story|}}
     <p class="paragraph" data-choice="{{story.has_choice}}"> {{story.story}}</p>
    {{/each}}
  </div> 
  <script src="/js/storyHandler.js"></script>
  
</body>


