
<body>



<div class="story-container">
  <p>Story now begins.... </p>
  <div class="story-section">
    {{!-- <p class="paragraph" data-choice="{{story.has_choice}}">
    </p> --}}
    <h1>{{story.story}}</h1>
  </div> 

    <div class="button-container">
    <button id="back-button">Back</button>
    <button id="next-button">Next</button>
    </div>

  <script src="/js/storyHandler.js"></script>  
  <script src="/js/game.js"></script>  


  <script src="/js/storyHandler.js"></script>
  </div>
</body>
