
<body>

<<<<<<< HEAD
=======


>>>>>>> b152f95b37555dee7d6b70b66597274a96b55b47
  <p>Story now begins.... </p>
  <div class="story-section">
    {{#each stories as |story|}}
     <p class="paragraph" data-choice="{{story.has_choice}}"> {{story.story}}</p>
    {{/each}}
  </div> 

    <div class="button-container">
    <button id="back-button">Back</button>
    <button id="next-button">Next</button>
  </div>

  <script src="/js/storyHandler.js"></script>
  
</body>
