
<body>


  <p>Story now begins.... </p>
  <div >
    {{#each story as |s|}}
     <p class="paragraph"> {{story}}</p>
    {{/each}}
  </div> 
  <script src="/js/storyHandler.js"></script>
  
</body>


