{{!-- <div class="text-center">
  <h2>{{paragraph}}</h2>

  <p>{{story}}</p>
  <p>
    <button class="btn btn-primary">DEAD END!</button>
  </p>
</div> --}}


<p>Story now begins.... </p> 
{{#each story as |s|}}
{{story}}
{{/each}}