

  <div class="story-section">
    {{!-- {{#each stories as |story|}}
     <p class="paragraph" data-choice="{{story.has_choice}}"> {{story.story}}</p>
    {{/each}} --}}
    <p class="paragraph" data-choice="{{story.has_choice}}">
    {{!-- {{story}} --}}
    <h1>-------------------</h1>
    </p>
  </div> 

    <div class="button-container">
    <button id="back-button">Back</button>
    <button id="next-button">Next</button>
    </div>

  <script src="/js/storyHandler.js"></script>  

