<body>
<div class="story-container">
  <div class="story-section">
    <h1>{{story.story}}</h1>
  </div> 
    <div class="button-container">
      {{#each story.choices as |choice|}}
        <a href="/story/{{choice.next_story_id}}">
          <button>{{choice.text}}</button>
        </a>
      {{/each}}
    </div> 
  </div>
  <script src="/js/game.js"> 
 </script>
</body>