header, .project:not(:last-child) {
  border-bottom: 5px solid #ccc;
  background: #000;
}


body {
  background-image: url('/images/HD-wallpaper-darkness-in-the-forest-creepy-forest-nature-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}


.one-word-by-one{
  color: Pink; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}
@keyframes type{ 
  from { width: 0; } 
} 

@font-face {
  font-family: Creepster;
  src: url('/fonts/Creepster-Regular.ttf') format('truetype'); 
}

.creepster{
  font-family: Creepster;
  text-align: center;
  font-size: 150px;
  margin: auto;
  width: 50%;
}

.fade-in-title { animation: fadeIn 20s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#back-button {
  order: 1;
}

#next-button {
  order: 2;
}